*.exe
*.dat
*.out
*.log
*.bin
*.png
*.o
*.so
*.so*
*.txt
*~

.gitpub/
test_configs/
test_configs_Gen2L/
static_configs/
free_configs/
configs/
arpackpp/
extern/
extern/googletest
data/
plots/
archive/
eigenmodes/
.vscode/
.venv/
lapack/
meson_data/

scratch.cpp
graph_test.py
rt
main_dev
test
scratch
static
